<mat-toolbar color="primary">
  <span>Star Wars</span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <button mat-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <a mat-button [routerLink]="['/category']">Home</a>
    </mat-menu>
  </mat-drawer>
  <mat-drawer-content fxLayout="column" fxLayoutAlign="center">
    <mat-nav-list>
      <mat-list-item *ngFor="let c of categories">
        <button mat-stroked-button color="primary" (click)="showInfo(c.name)">
          <mat-icon>pageview</mat-icon>
          {{c.name}}
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer-content>
</mat-drawer-container>