.example-fill-remaining-space {
    flex: 1 1 auto;
}

.mat-drawer {
    width: 20%;
}

.mat-drawer-container .mat-list-item{
    width:100%;
}

.mat-drawer-container button{
    text-transform: uppercase;
    width:40%;
    margin-left: 20%;
    margin-right: 40%;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    text-align:left;
}

/* .example-fill-remaining-space {
    flex: 1 1 auto;
}

.mat-list-item{
    margin: 15px;
    width:100%;    
}

.mat-list-item button{
    text-transform: capitalize;
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:left; 
} */