.example-fill-remaining-space {
    flex: 1 1 auto;
}

.mat-drawer {
    width: 20%;
}

.mat-drawer-container .mat-list-item{
    width:100%;
}

/* .mat-drawer-container button{
    text-transform: uppercase;
    width:40%;
    margin-left: 20%;
    margin-right: 40%;
    text-align:left;
} */

.buttonStyle1{
    text-transform: uppercase;
    width:40%;
    margin-left: 20%;
    margin-right: 40%;
    text-align:left;
}

.wordStyle1{
    font-weight: bold;
    vertical-align: top;
    text-transform: capitalize;  
    padding:10px;
}

.wordStyle2{
    
    font-style: italic;
    text-transform: capitalize;
}

table {
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid black;
}