<mat-toolbar color="primary">
  <span>Star Wars</span>
  <span class="example-fill-remaining-space"></span>
  <button type="submit" mat-button (click)="share()">
    <mat-icon>share</mat-icon>
  </button>
  <a mat-button [routerLink]="['/item',category]">
    <mat-icon>chevron_left</mat-icon>
  </a>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <button class="buttonStyle1" mat-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <a mat-button [routerLink]="['/category']">Home</a>
    </mat-menu>
  </mat-drawer>
  <mat-drawer-content fxLayout="column" fxLayoutAlign="center">

    <table>
      <tr>
        <td [colSpan]=2><img src={{imageURL}}></td>
      </tr>
      <tr *ngFor="let d of details">
        <td class="wordStyle1">{{d.key}}</td>
        <td *ngIf="!isArray(d.value)">{{d.value}}<br /></td>
        <td class="wordStyle2" *ngIf="isArray(d.value)">
          <div *ngFor="let o of d.value">
            <a mat-button [routerLink]="['/detail',o.category,o.id]">
              <mat-icon>visibility</mat-icon>
              {{o.key}}
            </a>
          </div>
          <br />
        </td>
      </tr>
    </table>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div fxLayout="column" fxLayoutAlign="center center">

        <mat-form-field>
          <textarea type="text" name="myComment" matInput placeholder="Comment Here" required
            [(ngModel)]='commentValue'>
        </textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
      </div>
    </form>

  </mat-drawer-content>
</mat-drawer-container>